body {
  font-family: 'Gentium Basic', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-title {
  font-family: 'Gentium Basic', serif;
  font-size: 3em;
  text-align: center;
}

.section-container {
  font-family: 'Gentium Basic', serif;
  font-size: 24px;
  min-height: 100vh;
}
